<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                             http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
                              http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <util:map id="propertiesMap">
        <entry key="jaxb.formatted.output">
            <value type="java.lang.Boolean">true</value>
        </entry>
    </util:map>

    <bean id="inInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
    <bean id="outInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
    <bean id="jacksonJsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>

    <bean id="localDateTimeParamConverterProvider"
          class="ru.drudenko.sitestatistics.util.LocalDateTimeConverterProvider">
        <constructor-arg value="yyyyMMddHHmmss"/>
    </bean>

    <jaxrs:server address="/services">
        <jaxrs:inInterceptors>
            <ref bean="inInterceptor"/>
        </jaxrs:inInterceptors>
        <jaxrs:outInterceptors>
            <ref bean="outInterceptor"/>
        </jaxrs:outInterceptors>
        <jaxrs:providers>
            <ref bean="jacksonJsonProvider"/>
            <ref bean="localDateTimeParamConverterProvider"/>
        </jaxrs:providers>
        <jaxrs:properties>
            <entry key="org.apache.cxf.oneway.robust" value="true"/>
            <entry key="cxf.io.cacheinput" value="true"/>
        </jaxrs:properties>
        <jaxrs:serviceBeans>
            <ref bean="statisticsService"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <bean class="ru.drudenko.sitestatistics.internal.SiteStatisticsServiceImpl" id="statisticsService" init-method="init">
        <constructor-arg ref="repository"/>
    </bean>

    <bean class="ru.drudenko.sitestatistics.internal.RepositoryImpl" id="repository"/>
</beans>